In [21]:
#1.1
import numpy as np
import math
import matplotlib.pyplot as plt
import statistics as stats

Kampala = np.array([1200, 1250, 1300, 1350, 1420, 1500, 1580, 1650, 1720, 1800])
Wakiso = np.array([950, 1000, 1070, 1150, 1220, 1300, 1390, 1480, 1570, 1670])
Gulu = np.array([320, 330, 345, 360, 375, 390, 410, 430, 455, 480])

In [22]:
#1.2
print ("Kampala Statistics")

print ("Mean = ", stats.mean(Kampala.tolist()))
print ("Median = ", stats.median(Kampala.tolist()))
print ("Variance = ", stats.pvariance(Kampala.tolist()))
print ("Standard Deviation = ", stats.pstdev(Kampala.tolist()))
print()

print ("Wakiso Statistics")

print ("Mean = ", stats.mean(Wakiso.tolist()))
print ("Median = ", stats.median(Wakiso.tolist()))
print ("Variance = ", stats.pvariance(Wakiso.tolist()))
print ("Standard Deviation = ", stats.pstdev(Wakiso.tolist()))
print()
print ("Gulu Statistics")

print ("Mean = ", stats.mean(Gulu.tolist()))
print ("Median = ", stats.median(Gulu.tolist()))
print ("Variance = ", stats.pvariance(Gulu.tolist()))
print ("Standard Deviation = ", stats.pstdev(Gulu.tolist()))

Kampala Statistics
Mean =  1477
Median =  1460.0
Variance =  38341
Standard Deviation =  195.8085799958725

Wakiso Statistics
Mean =  1280
Median =  1260.0
Variance =  54060
Standard Deviation =  232.50806437627062

Gulu Statistics
Mean =  389.5
Median =  382.5
Variance =  2597.25
Standard Deviation =  50.96322203314857

In [23]:
#1.3
def fib_Kampala(n, first=1720, second=1800):
    if n < 1:
        return None
    if n == 1:
        return first
    if n == 2:
        return second
    lst = [first, second]
    for i in range(n - 2):
        lst.append(lst[-1] + lst[-2])
    return lst

print("Kampala: ", fib_Kampala(7))

def fib_Wakiso(n, first=1570, second=1670):
    if n < 1:
        return None
    if n == 1:
        return first
    if n == 2:
        return second
    lst = [first, second]
    for i in range(n - 2):
        lst.append(lst[-1] + lst[-2])
    return lst

print("Wakiso: ", fib_Wakiso(7))

def fib_Gulu(n, first=455, second=480):
    if n < 1:
        return None
    if n == 1:
        return first
    if n == 2:
        return second
    lst = [first, second]
    for i in range(n - 2):
        lst.append(lst[-1] + lst[-2])
    return lst

print("Gulu: ", fib_Gulu(7))

Kampala:  [1720, 1800, 3520, 5320, 8840, 14160, 23000]
Wakiso:  [1570, 1670, 3240, 4910, 8150, 13060, 21210]
Gulu:  [455, 480, 935, 1415, 2350, 3765, 6115]

In [24]:
#1.4
Kampala_nxt5yrs = [3520, 5320, 8840, 14160, 23000]
Wakiso_nxt5yrs = [3240, 4910, 8150, 13060, 21210]
Gulu_nxt5yrs = [935, 1415, 2350, 3765, 6115]

print("Kampala first 10 years variance is: ", stats.variance(Kampala), "next 5 years is: ", stats.variance(Kampala_nxt5yrs))
print("Wakiso first 10 years variance is: ", stats.variance(Wakiso), "next 5 years is: ", stats.variance(Wakiso_nxt5yrs))
print("Gulu first 10 years variance is: ", stats.variance(Gulu), "next 5 years is: ", stats.variance(Gulu_nxt5yrs))

Kampala first 10 years variance is:  42601 next 5 years is:  61714720
Wakiso first 10 years variance is:  60066 next 5 years is:  52497730
Gulu first 10 years variance is:  2885 next 5 years is:  4363030

In [25]:
#1.5

In [ ]:
#2.1
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))

In [ ]:
#2.2
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))


a = np.array([[3,2],
             [4,1]])
b = np.array([D1,D2])

from scipy import linalg

solution = linalg.solve(a,b)

print("solution(x,y):", solution)

In [ ]:
#2.3
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))


a = np.array([[3,2],
             [4,1]])
b = np.array([D1,D2])

from scipy import linalg

solution = linalg.solve(a,b)

print("solution(x,y):", solution)

In [ ]:
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))


a = np.array([[3,2],
             [4,1]])
b = np.array([D1,D2])

from scipy import linalg

solution = linalg.solve(a,b)

print("solution(x,y):", solution)

In [ ]:
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))


a = np.array([[3,2],
             [4,1]])
b = np.array([D1,D2])

from scipy import linalg

solution = linalg.solve(a,b)

print("solution(x,y):", solution)

In [ ]:
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))


a = np.array([[3,2],
             [4,1]])
b = np.array([D1,D2])

from scipy import linalg

solution = linalg.solve(a,b)

print("solution(x,y):", solution)

In [ ]:
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))


a = np.array([[3,2],
             [4,1]])
b = np.array([D1,D2])

from scipy import linalg

solution = linalg.solve(a,b)

print("solution(x,y):", solution)

In [ ]:
D1 = int(input("Enter daily demand values D1 here, please: "))
D2 = int(input("Enter daily demand values D2 here, please: "))


a = np.array([[3,2],
             [4,1]])
b = np.array([D1,D2])

from scipy import linalg

solution = linalg.solve(a,b)

print("solution(x,y):", solution)

In [ ]:
#2.3
span_bat = np.array([[2.2,-0.8], [0.6,3.6], [2.6,-1.4], [2.4,-1.4], [0.8,0.8], [2.4,-2.6], [1.8,-2.2]])

In [ ]:
#2.4
span_bat = np.array([[2.2,-0.8], [0.6,3.6], [2.6,-1.4], [2.4,-1.4], [0.8,0.8], [2.4,-2.6], [1.8,-2.2]])

x_values = [row[0] for row in span_bat]   
y_values = [row[1] for row in span_bat]   



print("Mean (x, y):", stats.mean(x_values), stats.mean(y_values))
print("Variance (x, y):", stats.pvariance(x_values), stats.pvariance(y_values))
print("Standard deviation (x, y):", stats.pstdev(x_values), stats.pstdev(y_values))

In [ ]:
#2.5
plt.plot(x_values, y_values)

plt.xlabel("Solar panels")
plt.ylabel("Batteries")

plt.title("Solar vs Battery Usage")

plt.show()

In [ ]:
#3.1
def fib(n, first = 200, second = 240):
    if n < 1:
        return None
    if n == 1:
        return first
    if n == 2:
        return second
    lst = [first, second]
    for i in range(3, n+1):
        lst.append(lst[-1] + lst[-2])
    return lst

print("Fish stock: ", fib(15))

In [ ]:
#3.2 & 3.3
fish_stock = np.array([200, 240, 440, 680, 1120, 1800, 2920, 4720,
                       7640, 12360, 20000, 32360, 52360, 84720, 137080])

fish_prices = np.array([15000, 17500, 19200, 18000, 20000, 19500, 16700, 21000,
                        19500, 16000, 21000, 17000, 15700, 19000, 21500])

sales = fish_stock * fish_prices
print(sales)

In [ ]:
#3.4
print("Mean of revenue is: ", stats.mean(sales))
print("Median of revenue is: ", stats.median(sales))
print("Variance of revenue is: ", stats.pvariance(sales))

In [ ]:
#3.5
if stats.pvariance(sales) > 50000:
    print("High risk")
else:
    print("Low risk")

In [ ]:
#3.5
plt.plot(fish_stock, sales)
plt.xlabel("Fish stock(tonnes)")
plt.ylabel("Revnue (Shs)")
plt.title("Lake Victoria fish stock vs revenues")
plt.grid(True)

plt.show()

In [ ]:
#4.1
Kampala_rain = np.array([120, 140, 180, 200, 220, 180, 90, 70, 60, 100, 110, 130])

In [ ]:
#4.2
Kampala_rain = np.array([120, 140, 180, 200, 220, 180, 90, 70, 60, 100, 110, 130])
months = ("Jan", "Feb", "March", "April", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec")

print("Mean rain is: ", stats.mean(Kampala_rain), "mm")

for Kampala_rain, months in zip(Kampala_rain, months):
    if Kampala_rain > 150:
        print (months, "-> Good for maize")
    else:
        print(months, "-> Drought risk")

In [ ]:
#4.3
Gulu_rain = np.array([90, 80, 90, 100, 110, 110, 160, 170, 200, 190, 210, 220])

In [ ]:
#4.4
dot = float(np.dot(Kampala_rain, Gulu_rain))
norm_a = math.sqrt(float(np.dot(Kampala_rain, Kampala_rain)))
norm_b = math.sqrt(float(np.dot(Gulu_rain, Gulu_rain)))
cos_sim = dot / (norm_a * norm_b)

print("cosine similarity: ", cos_sim)

In [ ]:
#4.5
Kampala_rain = np.array([120, 140, 180, 200, 220, 180,
                         90, 70, 60, 100, 110, 130])
months = ["Jan", "Feb", "March", "April", "May", "June",
          "July", "Aug", "Sep", "Oct", "Nov", "Dec"]


        
Gulu_rain = np.array([90, 80, 90, 100, 110, 110, 160, 170, 200, 190, 210, 220])


plt.plot(months, Kampala_rain, color = 'blue')
plt.plot(months, Gulu_rain, color = 'orange')
plt.title("Monthly Rainfall in Kampala and Gulu")
plt.xlabel("Month")
plt.ylabel("Rainfall (mm)")
plt.grid(True)
plt.show()

In [ ]:
#5.1
pass_count = np.array([35, 40, 42, 50, 55, 60, 48, 52, 47, 45])

In [ ]:
#5.2
fare = 2000

drevenue = pass_count * fare

print(drevenue)

In [ ]:
#5.3
print("Mean revenue is: ", stats.mean(drevenue))
print("Variance of revenue is: ", stats.pvariance(drevenue))
print("Standard deviation of revenue is: ", stats.pstdev(drevenue.tolist()))

In [ ]:
#5.4

In [ ]:
#5.5
avlast3 = ((pass_count[-3] + pass_count[-2] + pass_count[-1])/3)

print("11th day revenue is: ", avlast3*fare)

In [ ]:
#5.6