In [1]:
#Kenneth Okello-B35966-MSDS
#1.1
customer_name = ["Bosco", "Ruth", "Alvin", "Peter", "Jane", "Jackie", "Cathy", "Sebastien", "Arthur", "Zaitun"]
units_used = [245, 300, 700, 100, 500, 800, 400, 900, 600, 550]
connection_type = ["Domestic", "Domestic", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic"
                  ]

#zipping elements of the three variables to pair them up
customer_data = zip(customer_name, units_used, connection_type)

#using map() and lambda function to every item in the list
total_bills = map(lambda cd: (cd[0], cd[1]*(820 if cd[2] == "Domestic" else 1000), cd[2]), customer_data)

#using a for loop
for name, bill, ctype in total_bills:
    print(name, ":", bill, "UGX", "(",ctype,")")

Bosco : 200900 UGX ( Domestic )
Ruth : 246000 UGX ( Domestic )
Alvin : 700000 UGX ( Commercial )
Peter : 82000 UGX ( Domestic )
Jane : 500000 UGX ( Commercial )
Jackie : 800000 UGX ( Commercial )
Cathy : 328000 UGX ( Domestic )
Sebastien : 900000 UGX ( Commercial )
Arthur : 600000 UGX ( Commercial )
Zaitun : 451000 UGX ( Domestic )

In [18]:
#1.2
customer_name = ["Bosco", "Ruth", "Alvin", "Peter", "Jane", "Jackie", "Cathy", "Sebastien", "Arthur", "Zaitun"]
units_used = [245, 300, 700, 100, 500, 800, 400, 900, 600, 550]
connection_type = ["Domestic", "Domestic", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic"
                  ]
customer_data = zip(customer_name, units_used, connection_type)


total_bills = map(lambda cd: (cd[0], cd[1]*(820 if cd[2] == "Domestic" else 1000), cd[2]), customer_data)


overall_consumption = map(lambda cd: (cd[0], cd[1]*(820 if cd[2] == "Domestic" else 1000), cd[2], cd[1]), customer_data)

#using filter() and lambda function to filter out >500
high_consumers = list(filter(lambda oc: oc[3] > 500, overall_consumption))

print("High consumers")

#using a for loop to produce list of consumers at > 500
for name, bill, ctype, units in high_consumers:
    print(name, ":", bill, "UGX", ctype, units, "units")

High consumers
Alvin : 700000 UGX Commercial 700 units
Jackie : 800000 UGX Commercial 800 units
Sebastien : 900000 UGX Commercial 900 units
Arthur : 600000 UGX Commercial 600 units
Zaitun : 451000 UGX Domestic 550 units

In [21]:
#1.3
customer_name = ["Bosco", "Ruth", "Alvin", "Peter", "Jane", "Jackie", "Cathy", "Sebastien", "Arthur", "Zaitun"]
units_used = [245, 300, 700, 100, 500, 800, 400, 900, 600, 550]
connection_type = ["Domestic", "Domestic", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic"]

customer_data = zip(customer_name, units_used, connection_type)

total_consumption = list(map(lambda cd: (cd[0], cd[1]*(820 if cd[2] == "Domestic" else 1000), cd[2]), customer_data))

bills_only = [i[1] for i in total_consumption]

#defining average_bill(*args) that prints average bill
def average_bill(*bills):
    total = 0
    for bill in bills:
        total += bill
    return total / len(bills)

print("Average bill is: ", average_bill(*bills_only))

Average bill is:  480790.0

In [1]:
#1.4
customer_name = ["Bosco", "Ruth", "Alvin", "Peter", "Jane", "Jackie", "Cathy", "Sebastien", "Arthur", "Zaitun"]
units_used = [245, 300, 700, 100, 500, 800, 400, 900, 600, 550]
connection_type = ["Domestic", "Domestic", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic", "Commercial", "Commercial", "Domestic"
                  ]

customer_data = list(zip(customer_name, units_used, connection_type))

total_bills = list(map(lambda cd: (cd[0], cd[1]*(820 if cd[2] == "Domestic" else 1000), cd[2]), customer_data))
 
#this line of code defines a list comprehension
name_bills = [cd[0] + ": UGX " + format(cd[1], ",") for cd in total_bills]

print(name_bills)

['Bosco: UGX 200,900', 'Ruth: UGX 246,000', 'Alvin: UGX 700,000', 'Peter: UGX 82,000', 'Jane: UGX 500,000', 'Jackie: UGX 800,000', 'Cathy: UGX 328,000', 'Sebastien: UGX 900,000', 'Arthur: UGX 600,000', 'Zaitun: UGX 451,000']

In [22]:
#2.1
mango_prices = [2500, 2700, 2600, 2800] 
orange_prices = [3000, 3200, 3100, 3050] 
apple_prices = [4500, 4600, 4550, 4700]

from itertools import zip_longest

#zip_longest pairs elements until the longest iterable is exhausted and fills missing values with a placeholder
fruit_prices = list(zip_longest(mango_prices, orange_prices, apple_prices))

print(fruit_prices)

[(2500, 3000, 4500), (2700, 3200, 4600), (2600, 3100, 4550), (2800, 3050, 4700)]

In [25]:
#2.1
days = ["Day1", "Day2", "Day3", "Day4"]
mango_prices = [2500, 2700, 2600, 2800] 
orange_prices = [3000, 3200, 3100, 3050] 
apple_prices = [4500, 4600, 4550, 4700]

from itertools import zip_longest

fruit_prices = list(zip_longest(days, mango_prices, orange_prices, apple_prices))

print("Day", "Mango", "Orange", "Apple")

for i in fruit_prices:
    print(i[0], i[1], i[2], i[3])

Day Mango Orange Apple
Day1 2500 3000 4500
Day2 2700 3200 4600
Day3 2600 3100 4550
Day4 2800 3050 4700

In [2]:
#2.2
days = ["Day1", "Day2", "Day3", "$ay4"]
mango_prices = [2500, 2700, 2600, 2800] 
orange_prices = [3000, 3200, 3100, 3050] 
apple_prices = [4500, 4600, 4550, 4700]

avg = lambda lst: sum(lst)/len(lst)

#lambda function to compute average price per fruit
mango_avgprice = avg(mango_prices)
orange_avgprice = avg(orange_prices)
apple_avgprice = avg(apple_prices)
                      
print("Average prices per fruit")

print("Mango: ", mango_avgprice)
print("Orange: ", orange_avgprice)
print("Apple: ", apple_avgprice)

Average prices per fruit
Mango:  2650.0
Orange:  3087.5
Apple:  4587.5

In [3]:
#2.3
mango_prices = [2500, 2700, 2600, 2800] 
orange_prices = [3000, 3200, 3100, 3050] 
apple_prices = [4500, 4600, 4550, 4700]

fruit_prices = {
    "Mango": mango_prices,
    "Orange": orange_prices,
    "Apple": apple_prices
    }

#generator function yielding fruits with average above 3000
above_3000 = (fruit for fruit, prices in fruit_prices.items() if sum(prices)/len(prices) > 3000)

for fruit in above_3000:
    print(fruit)

Orange
Apple

In [4]:
#2.4
mango_prices = [2500, 2700, 2600, 2800] 
orange_prices = [3000, 3200, 3100, 3050] 
apple_prices = [4500, 4600, 4550, 4700]

fruit_prices = {
    "Mango": mango_prices,
    "Orange": orange_prices,
    "Apple": apple_prices
    }

above_3000 = list(fruit for fruit, prices in fruit_prices.items() if sum(prices)/len(prices) > 3000)

#here i used the .join() function to seperate months with comma
print("Fruits above average price: ", ", ".join(above_3000))

Fruits above average price:  Orange, Apple

In [26]:
#3.1
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28] 
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25] 
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

#here i used a map() and lambda function to pair up elements and convert to fahrenheit using formula
kampalaF = list(map(lambda kla: ((kla*9/5)+32), kampala))
guluF = list(map(lambda glu: ((glu*9/5)+32), gulu))
mbararaF = list(map(lambda mra: ((mra*9/5)+32), mbarara))

print("Temperatures in Fahrenheit")
print("kampala:", kampalaF)
print("gulu:", guluF)
print("mbarara:", mbararaF)

Temperatures in Fahrenheit
kampala: [82.4, 86.0, 84.2, 80.6, 78.8, 84.2, 86.0, 87.8, 89.6, 86.0, 84.2, 82.4]
gulu: [77.0, 78.8, 80.6, 80.6, 82.4, 84.2, 86.0, 86.0, 84.2, 80.6, 78.8, 77.0]
mbarara: [71.6, 73.4, 73.4, 75.2, 77.0, 77.0, 78.8, 80.6, 80.6, 78.8, 75.2, 73.4]

In [27]:
#3.2
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28] 
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25] 
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

kampalaF = list(map(lambda kla: ((kla*9/5)+32), kampala))
guluF = list(map(lambda glu: ((glu*9/5)+32), gulu))
mbararaF = list(map(lambda mra: ((mra*9/5)+32), mbarara))

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

zipped_C = list(zip(months, kampala))

zipped_F = list(zip(months, kampalaF))

print(zipped_C)
print(zipped_F)

[('Jan', 28), ('Feb', 30), ('Mar', 29), ('Apr', 27), ('May', 26), ('Jun', 29), ('Jul', 30), ('Aug', 31), ('Sep', 32), ('Oct', 30), ('Nov', 29), ('Dec', 28)]
[('Jan', 82.4), ('Feb', 86.0), ('Mar', 84.2), ('Apr', 80.6), ('May', 78.8), ('Jun', 84.2), ('Jul', 86.0), ('Aug', 87.8), ('Sep', 89.6), ('Oct', 86.0), ('Nov', 84.2), ('Dec', 82.4)]

In [28]:
#3.3
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28] 
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25] 
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

zipped_C = list(zip(months, kampala))

high_temps = list(filter(lambda tempk: (tempk[1] > 30), zipped_C))

print(high_temps)

[('Aug', 31), ('Sep', 32)]

In [5]:
#3.4
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28] 
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25] 
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

zipped_C = list(zip(months, kampala))

#using filter() and lambda function to filter out months with temperatures above 30'C
high_temps = list(filter(lambda tempk: (tempk[1] > 30), zipped_C))

for month, temp in high_temps:
    print(month, "-", temp, "C")

Aug - 31 C
Sep - 32 C

In [6]:
#3.5
kampala = [28, 30, 29, 27, 26, 29, 30, 31, 32, 30, 29, 28] 
gulu = [25, 26, 27, 27, 28, 29, 30, 30, 29, 27, 26, 25] 
mbarara = [22, 23, 23, 24, 25, 25, 26, 27, 27, 26, 24, 23]

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

zipped_C = list(zip(months, kampala))

high_temps = list(filter(lambda tempk: (tempk[1] > 30), zipped_C))

#using .join() to print a friendlier looking output
print("Hot months in Kampala:", ", ".join([month + " - " + str(temp) + "°C" for month, temp in high_temps]))

Hot months in Kampala: Aug - 31°C, Sep - 32°C

In [15]:
#4.1
students = ['Alex', 'Grace', 'Sarah', 'Brian']
installments = [
    [150000, 200000, 250000],
    [500000, 0, 200000],
    [300000, 300000, 300000],
    [400000, 100000, 0]
]

# Lambda function to sum only valid (non-zero) payments
valid_sum = lambda payments: sum(p for p in payments if p > 0)

# Applying to each student's installments using map()
total_valid = list(map(valid_sum, installments))

print(total_valid)

[600000, 700000, 900000, 500000]

In [29]:
#4.2
students = ['Alex', 'Grace', 'Sarah', 'Brian'] 
installments = [ 
[150000, 200000, 250000], 
[500000, 0, 200000], 
[300000, 300000, 300000], 
[400000, 100000, 0] 
]

total_paid = list(map(lambda payments: (sum(payments)), installments))

print(total_paid)

[600000, 700000, 900000, 500000]

In [30]:
#4.3
students = ['Alex', 'Grace', 'Sarah', 'Brian'] 
installments = [ 
[150000, 200000, 250000], 
[500000, 0, 200000], 
[300000, 300000, 300000], 
[400000, 100000, 0] 
]

total_paid = list(map(lambda payments: (sum(payments)), installments))

zipped_total = list(zip(students, total_paid))

print(zipped_total)

[('Alex', 600000), ('Grace', 700000), ('Sarah', 900000), ('Brian', 500000)]

In [31]:
#4.4
students = ['Alex', 'Grace', 'Sarah', 'Brian'] 
installments = [ 
[150000, 200000, 250000], 
[500000, 0, 200000], 
[300000, 300000, 300000], 
[400000, 100000, 0] 
]

total_paid = list(map(lambda payments: (sum(payments)), installments))

zipped_total = list(zip(students, total_paid))

cleared_fees = list(filter(lambda fees: (fees[1]>=600000), zipped_total))

print(cleared_fees)

[('Alex', 600000), ('Grace', 700000), ('Sarah', 900000)]

In [7]:
#4.5
#defining (**kwargs) function
def payment_summary(**kwargs):
    print("Payment Summary:")
    for name, amount in kwargs.items():
        status = "Cleared" if amount >= 600000 else "Pending"
        print(name + " paid UGX " + format(amount, ",") + " - " + status)


payment_summary(Alex=600000, Grace=700000, Sarah=900000, Brian=500000)

Payment Summary:
Alex paid UGX 600,000 - Cleared
Grace paid UGX 700,000 - Cleared
Sarah paid UGX 900,000 - Cleared
Brian paid UGX 500,000 - Pending

In [32]:
#5.1
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale'] 
yield_data = [1200, 1500, 900, 1300]

yield_in_tons = [(lambda yd: yd/1000)(yd) for yd in yield_data]

print(yield_in_tons)

[1.2, 1.5, 0.9, 1.3]

In [33]:
#5.2
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale'] 
yield_data = [1200, 1500, 900, 1300]

yield_in_tons = [(lambda yd: yd/1000)(yd) for yd in yield_data]

zipped_dis_yield = list(zip(districts, yield_in_tons))

#defining generator that yields districts with yield > 1 ton
def high_yd(zipped_dis_yield):
    for district, y in zipped_dis_yield:
        if  y > 1:
            yield district

for v in high_yd(zipped_dis_yield):
    print(v)

Bushenyi
Mityana
Mbale

In [34]:
#5.3
districts = ['Bushenyi', 'Mityana', 'Kasese', 'Mbale'] 
yield_data = [1200, 1500, 900, 1300]

yield_in_tons = [(lambda yd: yd/1000)(yd) for yd in yield_data]

#defining generator that yields average yield in tons
def average_yield(*yieldt):
    total = 0
    for y in yieldt:
        total += y
    return total/len(yieldt)

print("Average yield of all districts in tons: ", average_yield(*yield_in_tons))

Average yield of all districts in tons:  1.225

In [1]:
#5.4
district_yields = {'Bushenyi': 1.2, 'Mityana': 1.5, 'Kasese': 0.9, 'Mbale': 1.3}

#defining (**kwargs) function to compute revenues
def compute_revenues(**income):
    revenues = {}
    for district, price in income.items():
        tons = district_yields.get(district, 0)
        revenues[district] = tons * price

    return revenues

revenues = compute_revenues(Bushenyi=2000, Mityana=2200, Kasese=1900, Mbale=2500)

for district, revenue in revenues.items():
    print(district, ':', revenue, 'UGX')

Bushenyi : 2400.0 UGX
Mityana : 3300.0 UGX
Kasese : 1710.0 UGX
Mbale : 3250.0 UGX

In [10]:
#5.5
district_yields = {'Bushenyi': 1.2, 'Mityana': 1.5, 'Kasese': 0.9, 'Mbale': 1.3}

def compute_revenues(**income):
    revenues = {}
    for district, price in income.items():
        tons = district_yields.get(district, 0)
        revenues[district] = tons * price

    return revenues

revenues = compute_revenues(Bushenyi=2000, Mityana=2200, Kasese=1900, Mbale=2500)

for district, revenue in revenues.items():
    tons = district_yields[district]
    print(district + " produced " + str(tons) + " tons — Revenue: UGX " + format(int(revenue), ","))

Bushenyi produced 1.2 tons — Revenue: UGX 2,400
Mityana produced 1.5 tons — Revenue: UGX 3,300
Kasese produced 0.9 tons — Revenue: UGX 1,710
Mbale produced 1.3 tons — Revenue: UGX 3,250

In [11]:
#6.1
import requests

sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

def get_response_codes(*urls):
    responses = {}
    for url in urls:
        try:
            response = requests.get(url)
            responses[url] = response.status_code
        except requests.exceptions.RequestException as e:
            responses[url] = "Error: e"
    return responses


codes = get_response_codes(*sites)

for site, code in codes.items():
    print(site, "→", code)

https://ucu.ac.ug → 200
https://harba.ug → 200
https://www.bou.or.ug → 200

In [12]:
#6.2
import requests

sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

#using get() function to return response codes
def get_response_codes(*urls):
    responses = {}
    for url in urls:
        try:
            response = requests.get(url)
            responses[url] = response.status_code
        except requests.exceptions.RequestException as e:
            responses[url] = "Error: e"
    return responses


codes = get_response_codes(*sites)

valid_urls = [url for url, code in codes.items() if code == 200]

print("URLs with status code 200:", ", ".join(valid_urls))

URLs with status code 200: https://ucu.ac.ug, https://harba.ug, https://www.bou.or.ug

In [13]:
#6.3

import requests

sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

#trying to run a code that might fail
def get_response_codes(*urls):
    responses = {}
    for url in urls:
        try:
            response = requests.get(url)
            responses[url] = response.status_code
        except requests.exceptions.RequestException as e:
            responses[url] = "Error: e"
    return responses


codes = get_response_codes(*sites)

successful_sites = {url: code for url, code in codes.items() if code == 200}

print(successful_sites)

{'https://ucu.ac.ug': 200, 'https://harba.ug': 200, 'https://www.bou.or.ug': 200}

In [14]:
#6.4
import requests

sites = ['https://ucu.ac.ug', 'https://harba.ug', 'https://www.bou.or.ug']

def get_response_codes(*urls):
    responses = {}
    for url in urls:
        try:
            response = requests.get(url)
            responses[url] = response.status_code
        except requests.exceptions.RequestException as e:
            responses[url] = "Error: e"
    return responses


codes = get_response_codes(*sites)

active_sites = ('Active Site: ' + url for url, code in codes.items() if code == 200)

#using generator function that yields active site
for site in active_sites:
    print(site)

Active Site: https://ucu.ac.ug
Active Site: https://harba.ug
Active Site: https://www.bou.or.ug